@model CricStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Checkout";
}

<h2>Check out now </h2>

Please Enter your details and we'll ship your items right away!

@using (Html.BeginForm())
{ 
    <h3>Ship to</h3>
    
    <div> Enter Name:<br />
         @Html.EditorFor(x => x.Name)
    </div>
    
    <div> Address Line 1:<br />
         @Html.EditorFor(x => x.Line1)
    </div>
    
    <div> Address Line 2: <br />
         @Html.EditorFor(x => x.Line2)
    </div>
    
    <div> Address Line 3: <br /> 
        @Html.EditorFor(x => x.Line3)
    </div>
    
    <div>City: <br />
         @Html.EditorFor(x => x.City)
    </div>
    
    <div>State:<br />
         @Html.EditorFor(x => x.State)
    </div>
    
    <div>Zip Code: <br />
        @Html.EditorFor(x => x.Zip)
    </div>
    
    <div>Country: <br />
         @Html.EditorFor(x => x.Country)
    </div>
    
    <h3>Options</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)
        Gift Wrap these items
    </label>
    
    <p align ="center">
        @Html.ActionLink("Complete Order", "CompletedOrder", "Basket")
        @*<input class="actionButtons" type="submit" value="Order Now" onclick="location.href='@Url.Action("CompletedOrder", "Basket", new object { }, null)'" />*@
    </p>
}

