<div class="content-wrapper">
    <div class="float-left">
        <img src="~/Images/Cricket.jpg" alt="Unable to Load the Image" width="240" height="190" />
    </div>
    <div class="float-right">
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        @*<nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Career", "Career", "Home")</li>
                </ul>
            </nav>*@
    </div>
</div>

