<div class="container">
    <ul id="nav">
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">Bats</a>
            <span id="s1"></span>
            <ul class="subs">
                <li>

                    <ul>
                        <li>@Html.ActionLink("Adidas", "Adidas", "Home")</li>
                        <li>@Html.ActionLink("MRF", "MRF", "Home")</li>
                        <li>@Html.ActionLink("Nike", "Nike", "Home")</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Ball</a>
            <span id="s1"></span>
            <ul class="subs">
                <li>

                    <ul>
                        <li>@Html.ActionLink("KookaBurra", "KookaBurra", "Home")</li>
                        <li>@Html.ActionLink("GM Balls", "GMBalls", "Home")</li>
                        <li>@Html.ActionLink("SG Balls", "SGBalls", "Home")</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#s1">Accessories</a>
            <span id="s1"></span>
            <ul class="subs">
                <li>

                    <ul>
                        <li>@Html.ActionLink("Bat Grips", "BatGrips", "Home")</li>
                        <li>@Html.ActionLink("Bat Cover", "BatCover", "Home")</li>
                        <li>@Html.ActionLink("Pads", "Pads", "Home")</li>
                        <li>@Html.ActionLink("Helmets", "Helmets", "Home")</li>
                    </ul>
                </li>
                <li>

                    <ul>
                        <li>@Html.ActionLink("Stumps", "Stumps", "Home")</li>
                        <li>@Html.ActionLink("Gloves", "Gloves", "Home")</li>
                        <li>@Html.ActionLink("Shoes", "Shoes", "Home")</li>
                        <li>@Html.ActionLink("Bails", "Bails", "Home")</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="#s2">Brands</a>
            <span id="s2"></span>
            <ul class="subs">
                <li>
                    <ul>
                        <li>@Html.ActionLink("Adidas", "AdidasBrand", "Home")</li>
                        <li>@Html.ActionLink("Nike", "NikeBrand", "Home")</li>
                        <li>@Html.ActionLink("MRF", "MRFBrand", "Home")</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>@Html.ActionLink("CA", "CABrand", "Home")</li>
                        <li>@Html.ActionLink("GM", "GMBrand", "Home")</li>
                        <li>@Html.ActionLink("SG", "SGBrand", "Home")</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Career", "Career", "Home")</li>

    </ul>
</div>